<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zhangdong.pet_game" android:versionCode="1" android:versionName="1.0.1">
	<uses-sdk android:minSdkVersion="8"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/icon">
		<activity android:name="com.util.game.check_env_activity" android:label="@string/app_name" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="orientation" android:windowSoftInputMode="adjustPan|stateHidden"/>
		<activity android:name="com.util.game.LaunchActivity" android:label="@string/app_name" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="orientation" android:windowSoftInputMode="adjustPan|stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="com.zhangdong.pet_game.pet_game" android:label="@string/app_name" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="orientation" android:windowSoftInputMode="adjustPan|stateHidden"/>
		<activity android:name="cn.sharesdk.framework.ShareSDKUIShell" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize"/>
		<meta-data android:name="TDGA_APP_ID" android:value="B78062E4EB85575063F744088FF2C6A7">
			<meta-data android:name="TDGA_CHANNEL_ID" android:value="91"/>
		</meta-data>
		<meta-data android:name="CSGA_APP_ID" android:value="32650D3FA515513AC9A6A2B2D46A9DDE"/>
		<meta-data android:name="CSGA_APP_CHANNEL" android:value="mcxy_9377"/>
		<service android:name="com.cs.statisticssdk.service.RealTimeDataStatisticsService" android:exported="false"/>
		<service android:process=":PetGameNotificationService" android:name="NotificationService"/>
	</application>
	<supports-screens android:largeScreens="true" android:smallScreens="true" android:anyDensity="true" android:normalScreens="true"/>
</manifest>
